# Homework 4 Solutions: Data Aggregation and Cleaning
## ECE204 Data Science & Engineering

### Please refer to Homework 4 in Canvas for the prompts for each question

In [2]:
import pandas as pd

---
**Problem 1.**

In [3]:
# given code
df_cars = pd.read_csv("cars.csv")
df_cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [5]:
filtered_df = df_cars.dropna(subset=['Horsepower', 'Miles_per_Gallon'])

mean_displacement = filtered_df['Displacement'].mean()

mean_displacement_rounded = round(mean_displacement, 2)

print("Mean Displacement of cars with non-null values in Horsepower or Miles_per_Gallon:", mean_displacement_rounded)

Mean Displacement of cars with non-null values in Horsepower or Miles_per_Gallon: 194.41

---
**Problem 2.**

In [ ]:
# given code
df_cars = pd.read_csv("cars.csv")
df_cars.head()

In [9]:
# your code here
filtered_df = df_cars.loc[df_cars.groupby('Origin')['Miles_per_Gallon'].idxmax()]
median_fuel_economy = filtered_df['Miles_per_Gallon'].median()
median_fuel_economy_round = round(median_fuel_economy, 2)
print(median_fuel_economy_round)

44.3

---
**Problem 3.**

In [ ]:
# given code
df_cars = pd.read_csv("cars.csv")

In [13]:
# your code here
max_mpg = df_cars.groupby('Origin')['Miles_per_Gallon'].idxmax()
high_mpg = df_cars.loc[max_mpg]
mean_weight = high_mpg['Weight_in_lbs'].mean()
mean_weight

2023.3333333333333

---
**Problem 4.**

In [14]:
# given code
df_cars = pd.read_csv("cars.csv")
df_cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [17]:
# your code here
cyl_values = df_cars.groupby('Cylinders')['Name'].apply(lambda x: x.str.len().max())
top_5_lengths = cyl_values.nlargest(5)
average_length = top_5_lengths.mean()
average_length

26.8

---
**Problem 5.**

In [20]:
# given code
import numpy as np

In [21]:
# your code here
np.random.seed(0)

# Generate 100,000 random numbers with the specified mean and standard deviation
random_numbers = np.random.normal(loc=0.34, scale=1.2, size=100000)

# Calculate the proportion of numbers greater than 0.67
proportion_greater_than_67 = (random_numbers > 0.67).mean()

# Round the result to 2 decimal places
proportion_rounded = round(proportion_greater_than_67, 2)

print("Proportion of random numbers greater than 0.67:", proportion_rounded)

Proportion of random numbers greater than 0.67: 0.39

---
**Problem 6.**

In [23]:
# given code
df_cars_unclean = pd.read_csv("cars_unclean.csv")
df_cars_unclean.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,14.5,4.0,90.0,75.0,28.0,dodge colt,USA,2125,1/1/1974
1,22.1,NaN,NaN,60.0,24.5,NaN,USA,2164,NaN
2,17.0,6.0,262.0,85.0,38.0,oldsmobile cutlass ciera (diesel),USA,3015,1/1/1982
3,16.4,4.0,86.0,65.0,37.2,datsun 310,Japan,2019,1/1/1980
4,14.5,4.0,156.0,92.0,26.0,chrysler lebaron medallion,USA,2585,1/1/1982

In [24]:
# your code here

# Read the corrupted CSV file
df = pd.read_csv('cars_unclean.csv')

# Select the specified columns
selected_columns = ['Acceleration', 'Cylinders', 'Displacement', 'Horsepower', 'Miles_per_Gallon', 'Weight_in_lbs']
df_cleaned = df[selected_columns]

# Remove rows with nulls/NaNs
df_cleaned = df_cleaned.dropna()

# Calculate the mean Weight_in_lbs of the clean dataset
mean_weight_in_lbs = df_cleaned['Weight_in_lbs'].mean()

# Round the result to 2 decimal places
mean_weight_in_lbs_rounded = round(mean_weight_in_lbs, 2)

print("Mean Weight_in_lbs of the clean dataset:", mean_weight_in_lbs_rounded)

Mean Weight_in_lbs of the clean dataset: 2977.64

---
**Problem 7.**

In [25]:
df_airports = pd.read_csv("airports_unclean.csv")
df_airports.head()

,iata,name,city,state,country,latitude,longitude
0,X67,Christiansted Harbor Seaplane Base,Christiansted,VI,USA,17.747195,-64.704864
1,STX,Henry E. Rohlsen,Christiansted,VI,USA,17.701889,-64.798556
2,X96,Cruz Bay Harbor Seaplane Base,Cruz Bay,VI,USA,18.336898,-64.799583
3,X66,Charlotte Amalie Harbor Seaplane Base,Charlotte Amalie,VI,USA,18.338567,-64.940701
4,STT,Cyril E. King,Charlotte Amalie,VI,USA,18.337306,-64.973361

In [28]:
# your code here

df_cleaned = df_airports.dropna(subset=['state'])
wi_variants = ['WI', 'wi', 'Wi', 'wI']
wi_airports = df_cleaned[df_cleaned['state'].str.lower().str[:2].isin(wi_variants)]
lowest_latitude = wi_airports['latitude'].min()
lowest_latitude_rounded = round(lowest_latitude, 2)
print("Latitude of the airport with the lowest latitude in Wisconsin:", lowest_latitude_rounded)

Latitude of the airport with the lowest latitude in Wisconsin: 42.6

---
**Problem 8.**

In [29]:
# given code
df_flights = pd.read_csv("flights_unclean.csv")
df_flights.head()

              date  delay destination  distance  Distance origin
0   2/3/2001 20:50     -2         RDU     443.0       NaN    BNA
1   2/7/2001 21:45     -1         LAS       NaN     223.0    BUR
2  2/10/2001 12:10     -6         LAS       NaN    1235.0    HOU
3  1/25/2001 11:50      8         MSY       NaN     487.0    TPA
4   2/1/2001 08:00     -8         LAX       NaN     337.0    OAK

In [30]:
# your code here
# Combine the 'distance' and 'Distance' columns, taking the first non-null value
df_flights['CombinedDistance'] = df_flights['distance'].fillna(df_flights['Distance'])

# Calculate the mean distance traveled by all flights
mean_distance = df_flights['CombinedDistance'].mean()

# Round the result to 2 decimal places
mean_distance_rounded = round(mean_distance, 2)

print("Mean distance traveled by all flights:", mean_distance_rounded)

Mean distance traveled by all flights: 501.34

---