# Python 13: Manipulating Time Series
## ECE 204 Data Science & Engineering

### Lecture Notes

In [3]:
import pandas as pd
import numpy as np

### In-Class Activity
#### Please first read the questions in the in-class activity, where the questions are there in detail. This is just a starter notebook.

In [4]:
flights_df = pd.read_csv("flights_20k.csv", index_col=0, parse_dates=True)
flights_df.head()

                     delay destination  distance origin
date
2001-01-13 14:56:00     32         SJC       417    SAN
2001-01-31 16:40:00     -5         ISP      1093    FLL
2001-02-11 18:39:00      3         DAL       293    LBB
2001-01-10 21:00:00    -15         MCO       550    MSY
2001-03-30 21:45:00     -2         IND       229    STL

---
**Problem 1.** In `flights_df`, **find the mean delay for flights that landed on a `Friday`**.

In [5]:


# Extract the day of the week from the datetime index (0=Monday, 1=Tuesday, ..., 6=Sunday)
flights_df['day_of_week'] = flights_df.index.dayofweek

# Now, we filter the DataFrame to only include flights that landed on a Friday
friday_flights = flights_df[flights_df['day_of_week'] == 4]

# Calculate the mean delay for these flights
mean_delay_friday = friday_flights['delay'].mean()

print(mean_delay_friday)

15.59445178335535

---
**Problem 2.** In the `flights_df`, **find the number of flights that landed early (negative delay) in the month of `feb-2001`**. 

Note - Check if using `feb-2001`/`2001-feb` instead of `2001-02` works?

In [6]:
# Assuming the flights_df DataFrame exists and has been read from the 'flights_20k.csv' file,
# the code to find the number of flights that landed early in the month of February 2001 would be:

# Check if the index is already in datetime format, if not convert it
# flights_df.index = pd.to_datetime(flights_df.index)

# Filter for flights in February 2001 using .loc[]
feb_flights = flights_df.loc['2001-02']

# Filter for flights that landed early (negative delay)
early_flights_feb = feb_flights[feb_flights['delay'] < 0]

# Get the number of such flights
num_early_flights_feb = early_flights_feb.shape[0]

print(num_early_flights_feb)

2576

---
**Problem 3.** In the `flights_df`, **find the number of unique months in the data.**

In [7]:
# Assuming the flights_df DataFrame exists and has been read from the 'flights_20k.csv' file with the index as datetime,
# the code to find the number of unique months in the data would be:

# Extract the month from the datetime index
flights_df['month'] = flights_df.index.to_period('M')

# Find the number of unique months
num_unique_months = flights_df['month'].nunique()

print(num_unique_months)

3